.card {
    background: white;
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 15px;
  }
  
  .card h2 {
    font-size: 1.5rem;
  }
  
  .card a {
    color: #0d00ff;
    text-decoration: none;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  